@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat';
}

.title {
    font-size: 2rem;
    color: white;
    margin-top: 0;
    padding: 2rem;
    background-color: rgb(94, 94, 176);
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
}

.termSelector {
    font-size: 1rem;
    font-weight: bold;
    padding-right: 2rem;
}

.rocket {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
