@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dash {
  display: flex;
  width: 100vw;   /* full viewport width */
  height: 100vh;  /* full viewport height */
  margin: 0;
  padding: 0;
}


.nebula {
  flex: 1;              /* take up remaining space */
  height: 100%;         /* match dash height */
  padding: 0px;
  margin:0px
}

.panelOverlay {
  width: 300px;         /* fixed sidebar width */
  height: 100%;         /* match dash height */
  background-color:black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
   box-sizing: border-box;
}

.songs {
  flex: 1;               /* take all available space */
  overflow-y: hidden;       /* make songs scrollable */

}

.title {
    font-size: 2rem;
    color: white;
    margin-top: 0;
    padding: 2rem;
    background-color: rgb(94, 94, 176);
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
}

.termSelector {
    font-size: 1rem;
    font-weight: bold;
    padding-right: 2rem;
}

.rocket {
    display: flex;
    margin: 0;
    background-color: black;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

body {
    background-color: black;
}
.container {
    height:100
}